body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    background-image: url("static/bricks.png");
    background-repeat: repeat;
    color: white;
}
hr {
    opacity: 70%;
    width: 25rem;
}
.center {
    margin: auto;
    text-align: center;
    align-items: center;
}
h1 {
    font-size: 48pt;
    font-weight: bolder;
    padding: 1rem;
}
button {
    font-size: 24pt;
    padding: 2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
    margin: 1rem;
    margin-top: 2rem;
}
button:hover {
    background-color: darkgray
}